# Data Cleaning Practice

The following is a series of exercises that you might see data cleaning in the real-world. These exercises have varying degrees of difficulty. I'll post solutions to each exercise on GitHub after the lecture.

### Setup

In [1]:
import pandas as pd

## Exercise #1: Create separate month, day, and year columns

In [41]:
df = pd.read_csv('./data/example1.csv')

In [42]:
df.head()

           date  sales
0  Jul 26, 2021      1
1  Jul 25, 2021      3
2  Oct 26, 2020      3
3  Feb 10, 2021      1
4  Sep 11, 2020      5

## Exercise #2: Convert 'date' column to type datetime

In [46]:
df = pd.read_csv('./data/example2.csv')

In [47]:
df.head()

           date  sales
0    11-26-2020      1
1  Jun 13, 2021      1
2    05-27-2020      3
3    12-23-2020      3
4    01-26-2020      2

## Exercise #3: Create full month name column (January, February, March, ...etc)

In [50]:
df = pd.read_csv('./data/example3.csv')

In [51]:
df.head()

                date  sales
0  ~~ Jan.09.2020 ~~      2
1  ~~ Jan.20.2021 ~~      3
2         04-20-2020      2
3  ~~ Apr.13.2020 ~~      3
4           14-02-21      3

## Exercise #4: Grab rows that mention a 'cat'

In [106]:
df = pd.read_csv('./data/cats.csv')

In [107]:
df.head()

                                    text
0                   I like cats and dogs
1  The baseball player made a nice catch
2               My cat is named Whiskers
3              I caught a cold last week
4           The cat in the hat came back

## Exercise #5: Grab rows that contain an email

In [111]:
pd.options.display.max_colwidth = 300

In [103]:
df = pd.read_csv('./data/emails.csv')

In [104]:
df.head()

                                              text
0     The quick brown fox jumped over the lazy dog
1  This is a random sentence with no email address
2    Another random sentence with no email address
3             john@example.com is an email address
4        jane@example.com is also an email address

## Exercise #6: Grab rows that contain phone number

In [112]:
df = pd.read_csv('./data/phone-numbers.csv')

In [113]:
df.head()

                                              text
0     The quick brown fox jumped over the lazy dog
1                        hit me up at 123-345-7727
2  This is a random sentence with no email address
3    Another random sentence with no email address
4             john@example.com is an email address

## Exercise 7: Text Cleaning (to be added)